absl-py
appnope
astroid
astunparse
Authlib
backcall
beautifulsoup4
bs4
cachetools
certifi
cffi
chardet
click
colorama
configparser
crayons
cryptography
cycler
decorator
dnspython
email-validator
fake-useragent
flask==2.2.3
Flask-Cors
flask-mongoengine
Flask-Script
flask-wtf
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
jieba
Jinja2
jupyter-client
jupyter-core
Keras
Keras-Preprocessing
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
mccabe
mongoengine
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pylint
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
# pywin32
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scipy
selenium
six
soupsieve
termcolor
toml
tornado
traitlets
urllib3
wcwidth
webdriver-manager
Werkzeug==2.2.2
wrapt
wtforms
z3-solver
zipp
jinja2